* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-logo {
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.hero-area, footer {
  background-color: #1f2937;
}

.hero-area {
  padding: 10px 200px 100px 200px;
}

footer {
  padding: 40px 200px;
  text-align: center;
}

button, a {
  color: white;
}

button {
  background-color: #3882F6;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

li a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:hover {
  color: #3882F6;
}

button:hover {
  cursor: pointer;
}

.main-content {
  flex: 1;
}

ul {
  display: flex;
  gap: 30px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin: 10px 0;
}

p, li {
  font-size: 18px;
  color: #e5e7eb;  
}

.subtext {
  margin: 10px 0 15px 0;
}

.hero-text {
  min-width: 270px;
}

.crowd-photo {
  min-width: 270px;
  width: 400px;
}